<mat-card class="ms-call">
  <mat-card-header>
    <mat-card-title>
      {{ methodDefinition?.method?.name }}
    </mat-card-title>
  </mat-card-header>
  <button
    mat-mini-fab
    class="close-button"
    color="light"
    (click)="deleteStep.emit()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-content>
    <div class="input">
      <b>Input</b>
      <gg-input-chip
        [input]="methodDefinition?.method?.input"
        [node]="node"
        mode="input"
      ></gg-input-chip>
    </div>
    <div class="output">
      <b>Output</b>
      <gg-input-chip
        [input]="methodDefinition?.method?.output"
        [node]="node"
        mode="output"
      ></gg-input-chip>
    </div>
  </mat-card-content>
    <rete-socket class="flow-in" *ngIf="methodDefinition?.method?.flowIn" rete-socket [io]="methodDefinition.method.flowIn" [socket]="methodDefinition.method.flowIn.socket"></rete-socket>
    <rete-socket class="flow-out" *ngIf="methodDefinition?.method?.flowOut" rete-socket [io]="methodDefinition.method.flowOut" [socket]="methodDefinition.method.flowOut.socket"></rete-socket>
</mat-card>
