<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Login </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly">
      <form fxLayout="column">
        <mat-form-field>
          <input type="text" matInput placeholder="Email/Username" />
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" />
        </mat-form-field>
      </form>
      <button mat-raised-button routerLink="/app" color="primary">Login</button>
    </mat-card-content>
  </mat-card>
</div>
