.toolbar mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbar mat-form-field:not(:last-child) {
  margin-right: 15px;
}
.url {
  flex: 1;
}

.auth {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: flex-end;
}
