mat-form-field {
  width: 100%;
}

.file-upload-form {
  position: relative;
  button {
    position: absolute;
    top: 0;
    right: 0;
  }
  ::ng-deep {
    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
      border-width: 2px;
      border-color: var(--color-primary);
    }
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.dependencies-list {
  // width: 95%;
  .header,
  .dependency {
    width: 100%;
    & > :nth-child(1) {
      width: calc((100% - 100px) * 0.4);
    }
    & > :nth-child(2) {
      width: calc((100% - 100px) * 0.2);
    }
    & > :nth-child(3) {
      width: calc((100% - 100px) * 0.4);
      white-space: pre-wrap;
      height: auto !important;
    }
    & > :nth-child(4) {
      width: 100px;
      text-align: center;
    }
  }

  ::ng-deep {
    .mat-list-base .mat-list-item .mat-list-item-content,
    .mat-list-base .mat-list-option .mat-list-item-content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

mat-card {
  margin: 15px 0;
  mat-card-title {
    font-size: 17px;
  }
}
