<div class="content">
  <div class="toolbar">
    <button color="primary" mat-raised-button (click)="onClickImport()">Import</button>
  </div>
  <mat-accordion *ngIf="microservices$ | async as microservices">
    <mat-expansion-panel *ngFor="let microservice of microservices">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ microservice.name }}</mat-panel-title>
        <mat-panel-description> {{ microservice.dockerImageUrl }} </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="methods-list">
        Definitions
        <pre>
          {{ microservice.contract?.definitions | json }}
        </pre>
        Methods
        <pre>
          {{ microservice.contract?.methods | json }}
        </pre>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
