
<div class="content" fxLayout="row wrap">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Header data</mat-card-title>
    </mat-card-header>
    <mat-card-content>Some content</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Header data</mat-card-title>
    </mat-card-header>
    <mat-card-content>Some content</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Header data</mat-card-title>
    </mat-card-header>
    <mat-card-content>Some content</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Header data</mat-card-title>
    </mat-card-header>
    <mat-card-content>Some content</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Header data</mat-card-title>
    </mat-card-header>
    <mat-card-content>Some content</mat-card-content>
  </mat-card>


</div>
